/*
 * ****** Fonts ******
 */
@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/merriweather/Merriweather-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Sacramento';
  src: url('../fonts/sacramento/Sacramento-Regular.ttf') format('truetype');
}
/*
 ****** ***** ******
 */

* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: 'Merriweather', sans-serif;
}

h1 {
  margin: 50px auto 0 auto; /* Centralize the element */
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  font-size: 5.625rem;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-size: 2.5rem;
  font-weight: normal;
}

h2 span {
  text-decoration: underline;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

hr {
  width: 50px;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.chilli-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.bottom-container {
  background-color: #66BFBF;
  color: #EAF6F6;
}

.bottom-container a {
  color: #11999E;
}
